<div class="container">
    <div class="text-container">
        <h1>Explore Our Collection</h1>
        <p>From essential furniture to decorative details, explore our collections to find everything you need to turn your house into a home, one piece at a time</p>
    </div>
    <div class="category-container">
        <div>
            <a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_1.png" alt="Chair & Sofa" srcset="">
        </a>
    </div>
    <div><a routerLink="product_chair_sofa">
        <img src="assets/image/category/cate_1.png" alt="Chair & Sofa" srcset="">
    </a></div>
        <div><a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_2.png" alt="Chair & Sofa" srcset="">
        </a></div>
        <div><a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_3.png" alt="Chair & Sofa" srcset="">
        </a></div>
       
        <div><a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_5.png" alt="Chair & Sofa" srcset="">
        </a></div>
        <div><a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_6.png" alt="Chair & Sofa" srcset="">
        </a></div>
        <div><a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_7.png" alt="Chair & Sofa" srcset="">
        </a></div>
        <div>
            <a routerLink="product_chair_sofa">
            <img src="assets/image/category/cate_8.png" alt="Chair & Sofa" srcset="">
        </a>
    </div>
    </div>
</div>