<div class="sidebar">
  <!-- Selected Room -->
    <h5 class="sidebar-title">Room</h5>
    <ul class="sidebar-list">
      <li *ngFor="let room of rooms">
        <a href="#" (click)="selectRoom(room.name); $event.preventDefault()"
        [class.active]="selectedRooms.includes(room.name) "
          >{{ room.name }}
          <span>({{ room.count | number : "2.0" }})</span></a
        >
      </li>
    </ul>
    <!-- Filter Type -->
    <h5 class="sidebar-title">By Type</h5>
    <ul class="sidebar-list">
      <li *ngFor="let type of types" 
      (click)="selectType(type.name)" 
      [class.active]="selectedTypes.includes(type.name)" >
        <a href="javascript:void(0)"
          >{{ type.name }}
          <span>({{ type.count | number : "2.0" }})</span></a
        >
      </li>
    </ul>
    <!-- Filter Material -->
    <h5 class="sidebar-title">Material</h5>
    <ul class="sidebar-list">
      <li *ngFor="let material of materials">
        <a href="#"  (click)="selectMaterial(material.name); $event.preventDefault()"
        [class.active]="selectedMaterials.includes(material.name)"
          >{{ material.name }}
          <span>({{ material.count | number : "2.0" }})</span></a
        >
      </li>
    </ul>
    <!-- Filter Price -->
    <div class="filter-section">
      <h5 class="sidebar-title">Price</h5>
      <input
        type="range"
        min="0"
        max="12000000"
        step="1000"
        [(ngModel)]="selectedPrice"
        class="form-range"
      />
      <div class="price-input-group">
        <input type="text" class="price-input" [(ngModel)]="minPrice" (input)="applyFilter()"> 
        <span class="price-separator">vnd</span>
        <span class="price-separator">to</span>
        <input
          type="text"
          class="form-control price-input"
          [(ngModel)]="maxPrice" (input)="applyFilter()"
        />
        <span class="price-separator">vnd</span>
      </div>
    </div>
   
    <!-- Filter Color -->
    <div class="filter-section">
      <h5 class="sidebar-title">Color</h5>
      <div class="d-flex flex-wrap">
        <div
          *ngFor="let color of colors"
          class="color-item d-flex align-items-center me-3"
          (click)="selectColor(color)"  [class.selected]="selectedColor === color.name"
        >
          <div
            class="color-circle"
            [ngStyle]="{ 'background-color': color.hex }"
          ></div>
          <span class="color-name">{{ color.name }}</span>
        </div>
      </div>
    </div>
  </div>
