
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a [routerLink]="['blog-content']" class="text-decoration-none text-dark">
                <div class="post-card">
                    <img src="assets/image/blog/blog_3.jpg" alt="Leather vs. Fabric">
                    <p class="post-meta">By Jerremy Jean • Wednesday, 5 Feb 2025</p>
                    <p class="post-title">What to buy: Leather vs. Fabric furniture</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a [routerLink]="['blog-content']"  class="text-decoration-none text-dark">
                <div class="post-card">
                    <img src="assets/image/blog/blog_4.jpg" alt="Outdoor living">
                    <p class="post-meta">By Michaela Augus • Saturday, 18 Jan 2025</p>
                    <p class="post-title">Outdoor living for small spaces</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a [routerLink]="['blog-content']"  class="text-decoration-none text-dark">
                <div class="post-card">
                    <img src="assets/image/blog/blog_2.jpg" alt="Home maintenance">
                    <p class="post-meta">By Kim Gurameh • Tuesday, 31 Dec 2024</p>
                    <p class="post-title">Home maintenance measures to save you money</p>
                </div>
            </a>
        </div>
    </div>
</div>