@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--accent_2_100);
  margin: 0;
  padding: 20px;
}

.voucher-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.voucher-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.voucher-card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent_2_100);
    transition: filter 0.3s ease, transform 0.2s ease;
  }
  
  .voucher-card:hover {
    filter: brightness(90%);
    transform: scale(1.02);
  }
  

.voucher-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.condition {
  font-size: 14px;
  color: var(--accent_1_100);
  margin-bottom: 5px;
}

.left {
  font-size: 12px;
  color: red;
}

.code {
  font-size: 14px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details {
  font-size: 12px;
  color: var(--accent_2_100);
}