<body>
    <div class="container my-5">
        <h2>My Voucher</h2>
        <div class="row g-3">
            <div class="col-md-4" *ngFor="let voucher of vouchers">
                <div class="voucher-card">
                    <h5 class="voucher-title">{{voucher.discount}}</h5>
                    <p class="voucher-description">{{voucher.description}}</p>
                    <p><strong>Code:</strong> {{voucher.code}}</p>
                    <p><strong>Expiry:</strong> {{voucher.expiry}}</p>
                </div>
            </div>
        </div>
        <h2 class="mt-5">Unlock New Voucher</h2>
        <div class="row g-3">
            <div class="col-md-4" *ngFor="let newVoucher of newVouchers">
                <div class="voucher-card">
                    <h5 class="voucher-title">{{newVoucher.discount}}</h5>
                    <p class="voucher-description">{{newVoucher.description}}</p>
                    <p><strong>Code:</strong> {{newVoucher.code}}</p>
                    <p><strong>Expiry:</strong> {{newVoucher.expiry}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
