:host{
    display: block;
    background-color: #FBEEE6;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
h1, h2{
    margin: 5px;
    padding: 5px;
    color:#1C2E4A;
        font-weight: bold;
}
.container{
    margin-bottom: 0;
    padding-bottom: 30px;
}