<div class="container">
    <div class="text-container">
      <h1>Find Your Room Inspirations</h1>
      <p>Find inspiration for every corner of your home. Discover curated collections designed to bring comfort, style, and personality to each room — from cozy living spaces to functional home offices.</p>
    </div>
    <div class="category-container">
      <div class="left-column">
        <div>
            <a href="#">
              <img src="assets/image/room/living_room.jpg" alt="Living Room">
            </a>
          </div>
          
          <div>
            <a href="#">
              <img src="assets/image/room/kitchen_room.png" alt="Kitchen">
            </a>
          </div>
      </div>
      <div class="right-column">
        <div>
            <a href="#">
              <img src="assets/image/room/bed_room.jpg" alt="Bedroom">
            </a>
          </div>
          <div>
            <a href="#">
              <img src="assets/image/room/bath_room.png" alt="Bathroom">
            </a>
          </div>
          <div>
            <a href="#">
              <img src="assets/image/room/office_room.png" alt="Office">
            </a>
          </div>
        </div>
      </div>
  </div>