<div class="container">
  <div class="link">
    <span>
      <a routerLink="/my-cart">My cart</a>
    </span> > 
    <span>
      <a routerLink="/check-out">Checkout</a>
    </span>
  </div>
  <div class="process-bar">
    <div class="checkout-progress">
      <div class="line" [class.filled]="currentStep > 1"></div>
      
      <div class="step" [class.active]="currentStep >= 1" [class.completed]="currentStep > 1">
        <span class="step-text">Cart</span>
      </div>
  
      <div class="step" [class.active]="currentStep >= 2" [class.completed]="currentStep > 2">
        <span class="step-text">Customer Information</span>
      </div>
  
      <div class="step" [class.active]="currentStep >= 3">
        <span class="step-text">Confirmation</span>
      </div>
    </div>
  </div>
  
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>