

  .load-more-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }
  
  .load-more-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #333 40%, #ddd 40%);
    border: none;
    margin: 10px 0;
  }
  
  .load-more-btn {
    background-color: var(--accent_1_100);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .load-more-btn:hover {
    background-color: #2d3748;
  }
  hr.load-more-line {
    width: 60%;
    height: 2px;
    background-color: #333; /* Màu tối hơn */
    border: none;
    margin: 8px 8px; /* Giảm khoảng cách trên và dưới */
  }

 