<footer>
    <div class="logo">
        <a routerLink="/"><img class="logo" src="assets\image\logo\logo-dark_1.jpg" alt="Logo Footer"></a>
        <div class="link">
        <a href="http://facebook.com" target="_blank"><img class="icon" src="assets\icon\Facebook.png" alt="Logo Footer"></a>
        <a href="http://instagram.com" target="_blank"><img class="icon" src="assets\icon\Instagram.png" alt="Logo Footer"></a>
        <a href="http://tiktok.com" target="_blank"><img class="icon" src="assets\icon\TikTok.png" alt="Logo Footer"></a>
        </div>
    </div>
    <div class="footer-component">
        <div class="footer-label">Contact Us</div>
        <div class="contact-info">
            <img class="icon" src="assets\icon\phone_icon.png" alt="Logo Footer">
            <span>0347 754 403</span>
        </div>
        <div class="contact-info">
            <img class="icon" src="assets\icon\mail_icon.png" alt="Logo Footer">
            <span>cabana.gmail.com</span>
        </div>
        <div class="contact-info">
            <img class="icon" src="assets\icon\place_icon.png" alt="Logo Footer">
            <span>16 Quốc lộ 1K, Đông Hoà, Dĩ An, Bình Dương</span>
        </div>
        <div class="contact-info">
            <img class="icon" src="assets\icon\clock_icon.png" alt="Logo Footer">
            <span>Mon - Sat: 8 AM - 6 PM</span>
        </div>
    </div>
    <div class="footer-component">
        <div class="footer-label">Explore</div>
        <div class="contact-info"><a routerLink="about">About Us</a></div>
        <div class="contact-info"><a routerLink="about">Our Products</a></div>
        <div class="contact-info"><a routerLink="about">Our inspiration</a></div>
    </div>
    <div class="footer-component">
        <div class="footer-label">Policies</div>
        <div class="contact-info"><a routerLink="policy">Orders & Payments</a></div>
        <div class="contact-info"><a routerLink="policy">Shipping & Delivery</a></div>
        <div class="contact-info"><a routerLink="policy">Returs & Exchanges</a></div>
        <div class="contact-info"><a routerLink="policy">Privacy & Security</a></div>
    </div>

<span class="footer-check">© 2025 Cabaña Studio. All rights reserved</span>
</footer>