
footer {
    margin: 0;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary_1_100);
    color: var(--primary_2_100);
    font: var(--body-regular-16px);
    padding: 30px 60px;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    gap: max(30px);
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.link {
    display: flex;
    gap: 15px;
}

.link .icon {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.link .icon:hover {
    transform: scale(1.1);
}

.footer-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
}

.footer-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.contact-info:hover{
    font-weight: bold;
    text-decoration: none;
}

.contact-info img.icon {
    width: 16px;
    height: 16px;
}

.contact-info a {
    color: var(--primary_2_100);
    text-decoration: none;
    font-size: 14px;
}
.contact-info a:hover {
    font-weight: bold;
}

.footer-check {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px var(--primary_2_100);
    padding-top: 10px;
}
@media (max-width: 768px) {

footer{
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
}
/*logo*/
footer:first-child{
    display: block;
    height: fit-content;
    width: 100%;
}
.logo {
    flex: 0 0 auto;
    text-align: center;}
.logo img {
    margin-bottom: 3px;}
.link .icon {
    margin-top: 5px;
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}
/*footer-component*/
.footer-component {
    flex: 0 0 auto;
    margin-top: 5px;
    margin-bottom: 3px;
}
.footer-label {
    font: var(--h3-semibold-24px);
    font-size: 13px;
    margin: 0;
}
/*Contact Us*/
.contact-info img.icon {
    width: 10px;
    height: 10px;
}
.contact-info a, .contact-info {
    color: var(--primary_2_100);
    text-decoration: none;
    font: var(--body-regular-16px);
    font-size: 12px;
}}