<div class="cart-container">
  <h2 class="cart-title">Cart Summary</h2>
  <table class="cart-table">
    <thead>
      <tr>
        <th class="chk"><input type="checkbox" (change)="toggleBrandSelection('all')"></th>
        <th>Items</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Config</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let brand of groupedCart | keyvalue">
          <tr class="brand-name">
            <td><input type="checkbox" (change)="toggleBrandSelection(brand.key)"></td>
            <td colspan="6" class="brand-header">
              <img src="assets/icon/Home_icon.png" alt="Brand">
              {{ brand.key }}</td>
          </tr>
        <tr *ngFor="let item of brand.value" [ngClass]="{ 'selected-row': item.selected }">
          <td><input type="checkbox" [(ngModel)]="item.selected" (change)="toggleSelection(item.productId)"></td>
          <td class="product-info">
            <div class="product-img"></div>
            <div class="product-name">{{ item.name }}</div>
          </td>
          <td>
            <span class="price-old">{{ item.price | number:'1.0-0' }}</span>
            <span class="price-new">{{ (item.price * 0.915) | number:'1.0-0' }}</span>
            <span class="currency">vnd</span>
          </td>
          <td class="quantity-container">
            <button class="qty-btn" (click)="updateQuantity(item.productId, { target: { value: item.quantity - 1 } })">−</button>
            <input type="number" [value]="item.quantity" (change)="updateQuantity(item.productId, $event)" min="1">
            <button class="qty-btn" (click)="updateQuantity(item.productId, { target: { value: item.quantity + 1 } })">+</button>
          </td>
          <td>
            <span class="price-new">{{ item.price * item.quantity | number:'1.0-0' }}</span>
            <span class="currency">vnd</span>
          </td>
          <td>
            <button class="remove-btn" (click)="removeItem(item.productId)">Remove</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="cart-summary">
    <p>Number Of Items <b>{{ selectedItemCount }}</b></p>
    <p>TOTAL (temp) <b class="total-price">{{ totalTemp | number:'1.0-0' }} vnd</b></p>
    <button class="order-btn" (click)="createOrder()">🛒 Place Order</button>
  </div>
</div>
